<header class="header">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/sesac">새싹</a></li>
    <li><a href="/register">회원가입</a></li>
    <li><a href="/login">로그인</a></li>
  </ul>

  <%# userId %>
</header>
