/*
    ＊웹 폰트
    - 모든 브라우저에서 보는 폰트를 통일
    - 폰트를 다운로드하는 것이 아니라, link 태그에 걸려있는 주소에서 폰트를 가져오는 방식
    - 보통 기본 폰트는 <body>태그에 작성
*/

body{
    font-family: 'Noto Sans KR', sans-serif;
}

div{
    color: royalblue;
    background-color: pink;

    /* background- gradient */
    /* background: linear-gradient(to right, blue, pink); 그라데이션 방향을 오른쪽으로 적용 */
    /* background: linear-gradient(70deg, blue, pink); 그라데이션 방향을 70도로 적용 */

    /* 폰트 */
    font-size: 50px;

    /* 
        ＊폰트 굵기
            - lighter, normal, bold, bolder
            - 100 ~ 900
    */
    font-weight: 900;

    /*
        ＊폰트 모양
            - normal, italic, oblique
    */
    font-style: italic;

    /* 정렬: center, left, right, justify(양쪽정렬) */
    text-align: center;

    /* 글자 선: underline, line-through, overline, none */
    text-decoration: line-through;

    /* 줄 높이: px, 배수 → 1, 2(default) */
    /* line-height: 150px;
    width: 100px; */

    /* 크기 */
    /* min-width, max-width, min-height, max-height: 반응형 웹 */
    width: 600px;
    height: 200px;

    /* 테두리 */
    /* border-style: solid;
    border-width: 4px;
    border-color: limegreen; */
    /* 한 쪽 모서리만: top, bottom, right, left */
    border-top: 4px solid limegreen; /* 단축 프로퍼티 */
    border-radius: 20px;

    /* 여백 */
    padding: 20px;
    margin: 50px;

    /*
        ＊박스 모델
        1) content-box: 기본값
            - 콘텐츠 영역을 기준으로 크기를 정함
            - padding, border, or margin은 포함하지 않은 총 contents의 width, height값

        2) border-box
            - 테두리를 기준으로 크기를 정함
            - margin은 포함하지 않은 총 contents의 width, height값
    */
    box-sizing: content-box;
    /* box-sizing: border-box; */
}