<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>테이블 예제</title>

    <style>
        table{
            margin: 0 auto;
            width: 50%;
            border: 1px solid #ccc;
        }

        td{
            padding: 10px;
            text-align: center;
            border: 1px solid #ccc;
        }
    </style>

</head>
<body>
    <table>
        <caption>과일</caption>
        <tr>
            <th>과일 번호</th>
            <th>이름</th>
            <th>색깔</th>
        </tr>
        <tr>
            <td>1</td>
            <td>수박</td>
            <td>초록색</td>
        </tr>
        <tr>
            <td>2</td>
            <td>사과</td>
            <td>빨간색</td>
        </tr>
        <tr>
            <td>3</td>
            <td>바나나</td>
            <td>노란색</td>
        </tr>
        <tr>
            <td>4</td>
            <td>오렌지</td>
            <td>주황색</td>
        </tr>
    </table>

    <hr>

    <table>
        <caption>가게 모음</caption>
        <tr>
            <th>가게 번호</th>
            <th>가게 이름</th>
            <th>가게 주인</th>
        </tr>
        <tr>
            <td>S0001</td>
            <td>환상 과일</td>
            <td>김철수</td>
        </tr>
        <tr>
            <td>S0002</td>
            <td>어메이징 과일</td>
            <td>박영희</td>
        </tr>
    </table>

    <hr>

    <table>
        <caption>과일 현황</caption>
        <tr>
            <th>가게 번호</th>
            <th>가게 이름</th>
            <th>가게 주인</th>
            <th>과일 번호</th>
            <th>가격</th>
            <th>현재 개수</th>
        </tr>
        <tr>
            <td>S0001</td>
            <td>환상 과일</td>
            <td>김철수</td>
            <td>1</td>
            <td>￦20,000</td>
            <td>10개</td>
        </tr>
        <tr>
            <td>S0001</td>
            <td>환상 과일</td>
            <td>김철수</td>
            <td>2</td>
            <td>￦1,000</td>
            <td>15개</td>
        </tr>
        <tr>
            <td>S0002</td>
            <td>어메이징 과일</td>
            <td>박영희</td>
            <td>3</td>
            <td>￦1,500</td>
            <td>20개</td>
        </tr>
        <tr>
            <td>S0002</td>
            <td>어메이징 과일</td>
            <td>박영희</td>
            <td>4</td>
            <td>￦2,000</td>
            <td>25개</td>
        </tr>
    </table>
</body>
</html>