<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1><%= title %></h1>

    <h2>GET 요청</h2>
    <form action="/getForm" method="get">
        <input type="text" name="id" placeholder="ID">
        <input type="password" name="pw" placeholder="PW">
        <button>제출</button>
    </form>

    <h2>POST 요청</h2>
    <form action="/postForm" method="post">
        <input type="text" name="id" placeholder="ID">
        <input type="password" name="pw" placeholder="PW">
        <button>제출</button>
    </form>

    <hr>

    <a href="/getInfo">[실습 1] get으로 정보 받기</a> <br>
    <a href="/postInfo">[실습 2] post로 정보 받기</a>
</body>
</html>