@media (min-width: 500px){
    body{
        background-color: skyblue;
    }
}

@media (max-width: 300px){
    body{
        background-color: orange;
    }
}

@media (min-width: 300px) and (max-width: 500px){
    body{
        background-color: #fff;
    }
}

@media (max-height: 300px){
    p{
        font-size: 30px;
        font-weight: bold;
        background-color: green;
    }

}