/* 
    [Combinator - 다중(복합) 선택자]

    1) 하위(후손) 선택자: ( → one space)
    2) 자식 선택자: (>)
    3) 인접 형제 선택자: (+)
    4) 일반 형제 선택자: (~)
*/

/* 하위(후손) 선택자( → one space) */
body section{
    border: 1px solid blue;
}
body section h2{
    border: 1px solid green;
}

/* 자식 선택자(>) */
.first > h2{
    color: white;
    background-color: navy;
}

.second > h2{
    color: navy;
    background-color: white;
}

/*
    인접 형제 선택자(+)
    → kong이라는 id를 가지는 요소 바로 뒤에 li가 있어야 적용됨
    (<span>test</span>를 주석처리 해야 정상적으로 출력됨)
*/
#kong + li{
    background-color: aqua;
}

/*
    일반 형제 선택자
    → 인접 형제 선택자(+) 와는 다르게 해당 조건을 충족하기만 하면 모두 선택된다.
    (<span>test</span>를 주석처리 하지 않아도 정상적으로 출력됨)
*/
#kong ~ li{
    color: red;
    /* color: #ff0000; 16진수*/
    /* color: rgb(255, 0, 0); RGB*/
}

/* ＊CSS 색상 */
/*
    1. 색상 키워드
        - black, red, ...

    2. 16진수
        - #000000: black
        - #ffffff: white

        [16진수 색상 코드 사이트]
        https://developer.mozilla.org/ko/docs/Web/CSS/color_value

    3. RGB
        - rgb(0, 0, 0): black  
        - rgb(255, 255, 255): white
*/