.div1{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}

/* 마우스 가져다 댔을 경우 */
.div1:hover{
    background-color: hotpink;
    height: 150px;
}

/* 마우스를 클릭하고 있는 동안 */
.div:active{
    background-color: brown;
    width: 150px;
}

/* 요소에 포커스가 됐을 때 */
input:focus{
    background-color: blueviolet;
    color: #ffffff;
    outline-color: yellowgreen;
}

/* 마우스 가져다 댔을 경우 */
.links > a:hover{
    background-color: coral;
}

/* 방문한 경우 */
.links > a:visited{
    color: #ccc;
}

/* 요소 상황에 따른 가상 선택자 */
.zoo > *{
    background-color: green;
    color: white;
}

/* E:last-child: E가 마지막 요소라면 */
.zoo > li:last-child{
    background-color: blue;
}

/* E:first-child: E가 첫 요소라면 */
.zoo > *:first-child{
    background-color: red;
}

/* E:not(XYZ): XYZ가 아닌 요소(E(Element)) 선택 */
.zoo > *:not(div){
    background-color: pink;
}

/* E:nth-child(n): E가 n번째 요소라면 선택 */
.zoo > *:nth-child(2){
    background-color: aqua;
}

/* E:nth-child(n)에서, n에는 숫자, 수식도 가능하다. */
.zoo > *:nth-child(2n){
    background-color: aqua;
}