<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./includes/head', {title: '새싹'}) %>
</head>
<body>
    <%- include('./includes/header') %>
    <h1>새싹 영등포캠퍼스 5기 수업중 ~~</h1>
</body>
</html>