<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>[실습 1] 회원가입, 로그인, 회원정보수정 실습 (with. 세션)</title>

    <%- include('./common/header') %>
  </head>
  <body>
    <h1>[실습 1] 회원가입, 로그인, 회원정보수정 실습 (with. 세션)</h1>
    <br />

    <% if(name) { %>
    <p><%= name %>님 환영합니다!</p>
    <% } else { %>
    <p>아직 로그인을 하지 않으셨습니다.</p>
    <% } %>

    <a href="/user/register">회원가입</a>
    <% if(name) { %>
    <a href="#" onclick="logout();">로그아웃</a>
    <a href="/user/users">전체회원</a>
    <% } else { %>
    <a href="/user/login">로그인</a>
    <a href="/user/login">전체회원</a>
    <% } %>

    <!-- 미 로그인 상태면 /login으로 이동 // 로그인 상태면 전체회원 조회로 이동 -->
    <% if(name) { %>
    <a href="/user/profile">내 프로필</a>
    <% } %>

    <script>
      // 로그아웃
      function logout() {
        if (confirm('로그아웃 하시겠습니까?')) {
          axios({
            method: 'get',
            url: '/user/logout',
          })
            .then((res) => {
              const { message } = res.data;
              if (message === 'success') {
                alert('로그아웃에 성공했습니다.');
              } else {
                alert('로그아웃에 실패했습니다.');
              }
              location.href = '/';
            })
            .catch((err) => {
              console.log(err);
            });
        }
      }
    </script>
  </body>
</html>
